body > #content, body > #before, body > #after {
  &:extend(.container);
  background-color: #fff;
}

body > #before {
  padding-top: 15px;
}

article {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

@import "section";
@import "figure";
@import "note";
@import "equation";
@import "expert";
@import "tip";

@import "video";