div.equation {
  .make-row();

  .eqbody {
    .make-xs-column(10);
    .make-md-column(11);
    .text-center;
  }

  .eqnum {
    .make-xs-column(2);
    .make-md-column(1);
    .text-right;
    padding-top: 1.5em;
  }
}