
@color-yellow: #f89300;

.props_audience_.expert {
  display: none !important;
}

.expert:not(.props_audience_) {

  .make-aside-note('extra', @color-yellow, @color-yellow);

  > header {
    cursor: pointer;
  }

  > .body {
    .collapse;
  }
}
