@extras-margin: 60px;
@extras-width: 50%;
@extras-width-full: 95%;
@extras-height: 60px;
@extras-height-full: 120px;

.trans(@transition) {
  -moz-transition: @transition;
  .transition(@transition);
}

.push-trans {
  .trans(all 0.3s ease);
}

.extras {
  border-radius: 10px;
  height: @extras-height;
  min-height: @extras-height;
  max-height: 100%;
  width: @extras-margin;
  max-width: 100%;
  overflow: hidden;
  z-index: 1000;
  cursor: pointer;

  .push-trans;

  &.open {
    width: @extras-width-full;
    height: auto;
    z-index: 2000;
  }
}

.extras-right {
  &:extend(.extras);
  padding-left: @extras-margin;
  position: absolute;
  right: 50%;

  &.open {
    &:extend(.extras.open);
    right: 10px !important;
    margin-right: 0 !important;
  }
}

.extras-left {
  &:extend(.extras);
  padding-right: @extras-margin;
  position: absolute;
  /*width: 3 * @extras-margin;
  margin-left: -2 * @extras-margin !important;*/
  left: 50%;

  &.open {
    &:extend(.extras.open);
    left: 10px !important;
    margin-left: 0 !important;
  }
}


@media (min-width: @screen-sm-min) {
  .extras-right {
    margin-right: -(@container-sm / 2 + @extras-margin + 10) !important;
  }

  .extras-left {
    margin-left: -(@container-sm / 2 + @extras-margin + 10) !important;
  }
}

@media (min-width: @screen-md-min) {
  .extras-right {
    margin-right: -(@container-md / 2 + @extras-margin + 10) !important;
  }

  .extras-left {
    margin-left: -(@container-md / 2 + @extras-margin + 10) !important;
  }
}

@media (min-width: @screen-lg-min) {
  .extras-right {
    margin-right: -(@container-lg / 2 + @extras-margin + 10) !important;
  }

  .extras-left {
    margin-left: -(@container-lg / 2 + @extras-margin + 10) !important;
  }
}


@media (min-width: @screen-md-min) {
  .extras {
    height: @extras-height-full;
    min-height: @extras-height-full;

    &.open {
      width: @extras-width;
    }
  }
}


@color-movie: #009241;

aside.movie {
  &:extend(.extras-right);
  margin-top: -@extras-height/2;
  background: fade(@color-movie, 80%) url(../images/extras/movie.svg) left top no-repeat;

  &.open {
    &:extend(.extras-right.open);
    background-color: @color-movie;
  }

  @media (min-width: @screen-md-min) {
    margin-top: -@extras-height-full/2;
  }
}

@color-vteacher: #009241;

aside.vteacher {
  &:extend(.extras-right);
  margin-top: -@extras-height/2;
  background: fade(@color-vteacher, 80%) url(../images/extras/vteacher.svg) left top no-repeat;

  &.open {
    &:extend(.extras-right.open);
    background-color: lighten(@color-vteacher, 30%);
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }

  @media (min-width: @screen-md-min) {
    margin-top: -@extras-height-full/2;
  }
}