figure {
  .media;
  .thumbnail;

  border: none;
  box-shadow: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  img, video {
    .img-responsive;
    margin: auto;
  }

  .figbody {
    .media-object;
  }

  figcaption {
    .media-body;
    margin-top: 1em;
    margin-left: .5em;
    font-size: @font-size-h6;

    .figheader {
      .media-heading;
      font-weight: bold;

      .fignum {
        .label;
        .label-default;

        .text-left;

        &:before {
          .glyphicon;
          padding-right: .3em;
        }
      }

      .figcap {
        font-style: oblique;
        position: relative;
        top: 2px;
      }
    }

    .figdesc {
      .glyphicon-info-sign;
      .text-left;

      &:before {
        .glyphicon;
        padding-left: .2em;
        padding-right: .3em;
      }
    }
  }
}

figure.graphics .fignum {
  //.icon-graphics;
  .glyphicon-pencil;
}

figure.movie .fignum {
  .glyphicon-film;
}
