body > footer {
  &:extend(.container);
  background: url(../images/bottom.jpg) no-repeat top center #fff;
  background-size: 100% 20px;
  padding-left: 0;
  padding-right: 0;
  margin-top: -10px;


  .content {
    //.make-row();
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    .logo {
      /*.make-xs-column(12);
      .make-sm-column(4);
      .make-md-column(2);
      .make-md-column-pull(5);
      .make-lg-column(2);
      .make-lg-column-pull(6);*/
      order: 1;
      @media (max-width: @screen-md-max) {
        order: 2;
      }
    }

    .projects {
      /*.make-xs-column(12);
      .make-sm-column(8);
      .make-md-column(4.5);
      .make-lg-column(3.5);
      .text-right;*/
      order: 3;
    }

    .info {
      /*.make-xs-column(12);
      .make-sm-column(12);
      .make-md-column(5);
      .make-md-column-push(2);
      .make-lg-column(6);
      .make-lg-column-push(2);*/
      font-size: 8.5px;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      order: 2;
      @media (max-width: @screen-md-max) {
        width: 100%;
        order: 1;
      }
    }

    img {
      height: 50px;
    }
  }
}
