body > header {
  &:extend(.container);

  background: rgba(0,0,0,30%);//url(../images/top.png) no-repeat center center;
  background-size: 100% 100%;
  height: 8.9em;
  text-align: center;

  & > .left {
    .make-xs-column(2);
    margin-top: 3em;
    .text-left;
  }

  & > .right {
    .make-xs-column(2);
    margin-top: 3em;
    .text-right;
  }

  & > h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    text-shadow: black 0.1em 0.1em 0.1em;
    padding-top: 2em;

    .make-xs-column(8);
    .text-left;
  }

  .tomy {
    float: right;
    margin-right: -15px;
    margin-top: -@line-height-computed - 2;

    > li {
      list-style: none;
      display: inline-block;

      > a {
        background: url(../images/extras/nav.svg) no-repeat scroll right top / 50px auto rgba(15, 115, 186, 0.9);
        border-radius: 5px 5px 0 0;
        color: #fff;
        margin-left: 5px;
        padding: 5px 25px 5px 5px;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }

        &.swap {
          .fa;
          line-height: @line-height-computed;
          font-family: "FontAwesome";
        }

        &.swap-accessible:before {
          content: @fa-var-wheelchair;
        }

        &.swap-standard:before {
          content: @fa-var-rocket;
        }
      }
    }
  }
}