.make-icon(@data) {
  background-image: url(@data);
  background-repeat: no-repeat;
  background-position: .1em 0;
  padding: 0.1em 0 0.5em 2em;
  min-width: 1.6em;
  min-height: 1.2em;
}
a[href$=".exe"] {
    background-image: url("../images/icons/labview_64.png");
    background-repeat: no-repeat;
    background-size: 2.5em auto;
    display: block;
    float: left;
    height: 35px;
    margin: -5px 10px 0;
    text-indent: -9999px;
    width: 30px;
}

.make-icon-file(@data) {
  background-image: url(@data);
  background-repeat: no-repeat;
  background-size: 2.3em auto;
  display: block;
  float: left;
  height: 35px;
  margin: -6px 10px 0;
  position: relative;
  text-indent: -9999px;
  width: 30px;
}

a[href$=".pdf"] {
  .make-icon-file("../images/icons/file_pdf.png");
}

a[href$=".silf"] {
  .make-icon-file("../images/icons/silf.svg");
}

a[href$=".doc"], a[href$=".docx"] {
  .make-icon-file("../images/icons/file_doc.png");
}

a[href$=".xls"], a[href$=".xlsx"] {
  .make-icon-file("../images/icons/file_xls.png");    
}

a[href$=".xlsm"], a[href$=".xlsx"] {
  .make-icon-file("../images/icons/file_xls.png");    
}

.icon-animation {
  .make-icon('../images/icons/animation.svg');
}

.icon-biography {
  .make-icon('../images/icons/biography.svg');
}

.icon-comment {
  .make-icon('../images/icons/comment.svg');
}

.icon('comment') {
  .icon-comment;
}

.icon-definition {
  .make-icon('../images/icons/definition.svg');
}

.icon('definition') {
  .icon-definition;
}

.icon-example {
  .make-icon('../images/icons/example.svg');
}

.icon-excel {
  .make-icon('../images/icons/excel.svg');
}

.icon-experiment {
  .make-icon('../images/icons/experiment.svg');
}

.icon-extra {
  .make-icon('../images/icons/extra.svg');
}

.icon('extra') {
  .icon-extra;
}

.icon-graphics {
  .make-icon('../images/icons/graphics.svg');
}

.icon-labview {
  .make-icon('../images/icons/labview.svg');
}

.icon-movie {
  .make-icon('../images/icons/movie.svg');
}

.icon-question {
  .make-icon('../images/icons/question.svg');
}

.icon-remember {
  .make-icon('../images/icons/remember.svg');
}

.icon('remember') {
  .icon-remember;
}

.icon-silf {
  .make-icon('../images/icons/silf.svg');
}
