@import "variables";
@import "bootstrap";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome";
@fa-font-path: "../fonts/font-awesome";

//@import "../bower_components/nanoscroller/bin/css/nanoscroller";

@import "textbook.less";

.movie.open:before {
    color: #fff;
    content: "X";
    float: right;
    font-size: 1.5em;
    padding: 5px 10px 0 0;
    position: relative;
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
  	color: #000;
  	padding: 0.2em 0;
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    body > header > img { 
        display: none;
    }
    body > header > h1 {
        color: #ffffff;
        float: left;
        font-size: 2em;
        font-weight: 900;
        min-height: 1px;
        padding-top: 2em;
        text-shadow: 0.1em 0.1em 0.1em #000000;
        width: 66.6667%;
    }
    body > header > .tomy { 
        float: right;
        margin-bottom: 12px;
        margin-right: -180px;
        margin-top: -37px;
        width: 255px;
    }
}