.trans(@transition) {
  -moz-transition: @transition;
  .transition(@transition);
}
.push-trans {
  .trans(all 0.3s ease);
}

body > #nav {
  display: none;
  height: 60px;
  width: 320px;
  background: url(../images/menu.png) no-repeat;
  border-radius: 0 10px 10px 0;
  position: fixed;
  top: 0;
  left: -320px * (1 - (2 / @grid-columns));
  .make-row();
  margin: 0;
  padding: 0;

  .push-trans;

  &.open {
    left: 0;
    height: 550px;

    .text {
      display: block;
    }
  }

  nav {
    .make-xs-column(10);
    margin-top: 10px;

    ul {
      .nav;
      .nav-pills;
      .nav-stacked;

      a:not(:hover) {
        color: #fff;
      }

      ul {
        li > a:before {
          content: "\00BB \0020";
        }
      }
    }
  }

  header {
    .text-center;
    color: #fff;
  }

  ul {
    //.make-md-column(10);
    //.make-md-column-pull(1);
  }
}

button.nav {
  //.rotate(-90deg);
  //.transform-origin(5% 50%);
  .make-xs-column(2);
  .btn;
  font-weight: 900;
  font-variant: small-caps;
  font-size: 150%;
  .text-right;
  background-color: transparent;
  border: none;
  //width: 100%;
  height: 200px;

  .text {
    .rotate(-90deg);
    position: relative;
    top: 5px;
    left: 10px;
    color: #fff;
    display: none;
  }

  box-shadow: none;

  &:focus {
    outline: none;
  }
}

@media (min-width: 992px) {
  body > #nav {
    height: 200px;
    top: 25%;

    &.open {
      height: 550px;
    }
  }

  button.nav .text {
    display: block;
  }
}

body {
  overflow-x: hidden;
  position: relative;
  left: 0;

  .push-trans;
}

body.push {
  left: 240px;
}
