@color-nav: #0f73ba;

@nav-link-hover-bg:                 fade(#fff, 80%); //fade(@gray-lighter, 80%);
@nav-pills-active-link-hover-bg:    #fff; //fade(@component-active-bg, 80%);
@nav-pills-active-link-hover-color: @link-hover-color; //fade(@component-active-color, 80%);

nav {
  .make-row();
  &:extend(.extras-left);
  position: fixed;
  top: 0;
  background: fade(@color-nav, 90%) url(../images/extras/nav.svg) right top no-repeat;
  color: #fff;
  padding: 0;
  padding-left: 20px;
  //margin: 0;
  max-width: 320px !important;
  //margin-left: @extras-margin - 320px !important;

  @media (min-width: @screen-md-min) {
    top: 25%;
    height: 150px;
  }

  & > header {
    .make-xs-column(12);

    h1 {
      width: @extras-margin;
      .rotate(-90deg);
      font-size: 18px;
      font-weight: 900;
      font-variant: small-caps;
      position: relative;
      top: 70px;
      right: 20px;
    }
  }

  & > ul {
    //right: percentage((2 / @grid-columns));
    margin-top: 10px;
    height: 95%;
    visibility: hidden;
  }

  ul {
    .nav;
    .nav-pills;
    .nav-stacked;

    a:not(:hover) {
      color: #fff;
    }


    ul {
      li > a {
        padding-left: 2em;
        text-indent: -1em;

        &:before {
          content: "\2771\00A0";
        }
      }

    }

    &::-webkit-scrollbar-track
    {
      //box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 10%);
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      background-color: transparent;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      //box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: rgba(255, 255, 255, 20%);
    }

  }

  &.open {
    &:extend(.extras-left.open);
    //background-color: @color-nav;
    height: 550px;

    > header {
      .make-xs-column(2);
      left: percentage((10 / @grid-columns));

      > h1 {
        right: 10px;
      }
    }

    > ul {
      visibility: visible;
      .make-xs-column(10);
      right: percentage((2 / @grid-columns));
      overflow-y: auto;
    }
  }

}

.jspTrack
{
  background: #b46868; /* changed from #dde */
  position: relative;
}
.jspDrag
{
  background: rgba(0,0,0,0.2); /* changed from #bbd */
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.arrows {
    margin: 0;
    padding: 1em;
    .make-row();
    a.prev {
        .pull-left;
    }
    a.next {
        .pull-right;
    }
}