.note {
  .panel;
  border: none;
  border-radius: 4px;
  box-shadow: none;

  > header {
    .panel-heading;
    position: relative;
    padding-left: .2em;
    padding-top: .2em;
    padding-bottom: .2em;

    > h1 {
      .panel-title;
      font-size: @font-size-h5;
    }
  }

  > .body {
    .panel-body;
  }
}

.make-aside-note(@icon, @color-border, @color-text) {
  .note;

  border: 1px solid @color-border;
  margin-bottom: 20px;

  .icon(@icon);
  background-position: 0.5em 0.5em;
  background-size: 1.6em auto;
  padding-left: 2.5em;

  > header {
    color: @color-text;
  }
  /*    > h1 {
        .icon(@icon);
        padding-left: 1.5em;
        font-weight: bold;
      }
    } */
}

@color-gray: #808080;
@color-red: #ef1616;

/*aside.comment {
  .make-aside-note('comment', @color-gray, @color-gray);
}*/

aside.definition, aside.important {
  .make-aside-note('definition', @color-red, @color-red);
}

aside.remember {
  .make-aside-note('remember', @color-red, @color-red);
}

aside.short {
  .panel;
  .pull-right;
  width: 40%;
  position: relative;
  top: -10px;
  margin: 10px 0 10px 10px;
  padding-right: 10px;
}