article {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

article h1 {
  font-size: @font-size-h2;
}

article section h1 {
  font-size: @font-size-h3;
}

section.questions {
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px;
  
  h1 {
  .icon-question;
  color: #808080;
  }
}
section.experience {
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0 10px 0;
  
  h1 {
  .icon-question;
  color: #808080;
} 
}

section.example {
  background-color: rgba(0, 111, 190, 10%); //rgba(0, 146, 69, 0.1);
  border: 1px solid rgb(0, 111, 190); //rgb(0, 146, 69);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;

  > h1 {
    .icon-example;
    color: #006fbe;
  }
}
section.labview {
  border: 1px solid rgb(0, 111, 190); //rgb(0, 146, 69);
  
  padding: 10px;

  h1 {
    .icon-labview;
    color: #006fbe;
  }
}