@import "icons.less";

.bg(@volume, @chapter) {
  background-image: url(~"../images/background_@{volume}_@{chapter}.jpg");
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  &.v1c1 { .bg(1,1); }
  &.v1c2 { .bg(1,2); }
  &.v1c3 { .bg(1,3); }
  &.v2c1 { .bg(2,1); }
  &.v2c2 { .bg(2,2); }
  &.v2c3 { .bg(2,3); }
  &.v2c4 { .bg(2,4); }
  &.v2c5 { .bg(2,5); }
  &.v2c6 { .bg(2,6); }
  &.v2c7 { .bg(2,7); }
  &.v2c8 { .bg(2,8); }
  &.v3c1 { .bg(3,1); }
  &.v3c2 { .bg(3,2); }
  &.v3c3 { .bg(3,3); }
  &.v3c4 { .bg(3,4); }
  &.v3c5 { .bg(3,5); }
  &.v3c6 { .bg(3,6); }
  &.v3c7 { .bg(3,7); }
  &.v3c8 { .bg(3,8); }
  &.v3c9 { .bg(3,9); }
  &.v3c10 { .bg(3,10); }
}

body {
  background-color: transparent;
  margin-top: -20px;
  padding-bottom: 10px;
}

.hide {
    height: 1px;
    width: 1px;
    position: absolute;
    left: -10000em;
    top: 0;
}

#shortcut-link {
  .hide;
}

@import "header.less";
@import "content.less";
@import "footer.less";

@import "extras.less";
@import "nav.less";
