
@color-grey: #808080;

.aside.tip {
  display: none !important;
}

.tip2:not(.aside) {

  .make-aside-note('comment', @color-grey, @color-grey);
  background-color: rgba(255, 255, 255, 0.4);
  > header {
    cursor: pointer;
  }

  > .body {
    .collapse;
  }
}
