{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>efizyka - multimedialny podręcznik do nauki fizyki</title>
        <meta charset="utf-8">

        {% compress css %}
        <link rel="stylesheet" href="{%  static 'textbook/start/css/reset.css' %}" type="text/css" media="all">
        <link rel="stylesheet" href="{%  static 'textbook/start/css/layout.css' %}" type="text/css" media="all">
        <link rel="stylesheet" href="{%  static 'textbook/start/css/style.css' %}" type="text/css" media="all">
        {% endcompress %}

        {% compress js %}
        <script src="{%  static 'textbook/start/js/jquery-1.4.2.js' %}"></script>
        <script src="{%  static 'textbook/start/js/cufon-yui.js' %}"></script>
        <script src="{%  static 'textbook/start/js/cufon-replace.js' %}"></script>
        {% endcompress %}

        <script src="{%  static 'textbook/start/js/Myriad_Pro_300.font.js' %}"></script>
        <script src="{%  static 'textbook/start/js/Myriad_Pro_400.font.js' %}"></script>

        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
            <script type="text/javascript" src="js/html5.js"></script>
        <![endif]-->
    </head>
    <body id="page">
        <div class="body1"></div>
        <div class="body2">
            <div class="main">
        <!--header -->
                <header>
                    <div class="wrapper">
                        <nav>
                            <ul id="menu">
                                <li><a href="1">Tom I</a></li>
                                <li><a href="2">Tom II</a></li>
                                <li><a href="3">Tom III</a></li>
                                <li class="bg_none"><a href="zadania">Zadania</a></li>
                            </ul>
                        </nav>
                        <h1><a href="/" id="logo">fizyka</a></h1>
                    </div>
                    <div class="wrapper">
                        <article class="col1 pad_left2">
                            <div class="text1">Multimedialny podrecznik<span>do nauki fizyki</span></div>
                            <p>dla szkół ponadgimnazjalnych</p>
                        </article>
                    </div>
                </header>
            </div>
        </div>
        <!--header end-->
        <!--content -->
        <div class="body3">
            <div class="main">
                <section id="content_top">
                    <article class="col1 pad_left2">
                        <ul class="list1">
                            <li>
                                <a href="1"><span class="box1">1</span></a>
                                <strong>Tom I</strong> dedykowany dla klas pierwszych przedstawia fizykę współczesną
                                począwszy od kosmologii a skończywszy na fizyce jądrowej.<a href="1" class="arrow"></a>
                            </li>
                            <li>
                                <a href="2"><span class="box1">2</span></a>
                                <strong>Tom II</strong> dedykowany dla klas drugich zawiera omówienie zagadnień związanych z mechaniką.
                                <a href="2" class="arrow"></a>
                            </li>
                            <li>
                                <a href="3"><span class="box1">3</span></a>
                                <strong>Tom III</strong> dedykowany dla klas trzecich opisujący zjawiska elektryczności, magnetyzmu i fal.
                                <a href="3" class="arrow"></a>
                            </li>
                            <li>
                                <a href="zadania"><span class="box1">Z</span></a>
                                <strong>Zbiór zadań</strong> do rozwiązania zebranych z całego podręcznika poszerzony o dodatkowe treści.
                                Do pytań dołączone są odpowiedzi wraz ze sposobem rozumowania.
                                <a href="zadania" class="arrow"></a>
                            </li>
                        </ul>
                        <video width="100%" controls="true">
                            <source src="http://mmilf.fizyka.pw.edu.pl/file/7719fddeebc17ef39041051e33196f43" type="video/mp4"/>
                        </video>
                        <hr/>
                    </article>
                </section>
                <div style="font-size: 70%; line-height: 120%; float: right; width: 350px; margin-top: -50px;">
                        Autorzy: Marian Kozielski, Krystyna Wosińska, Przemysław Duda<br/>
                        Redakcja: Agnieszka Staranowicz<br/>
                        Ilustracje: Tomasz Wójcik, Mirosław Zielonka<br/>
                        WWW i konwersja: Mikołaj Olszewski, Dariusz Koryto<br/>
                        Recenzent wewnętrzny: Włodzimierz Natorf<br/>
                        Autorzy dziękują Panu Janowi Plucie za udostępnienie materiałów służących opracowaniu rozdziału Fizyka Jądrowa
                </div>
            </div>
            <p>&nbsp;</p>
        </div>
        <!--content end-->
        <!--footer -->
        <div class="body4">
            <div class="main">
                <div id="footer_menu">
                    <nav>
                        <ul>
                            <li><a href="http://fizyka.pw.edu.pl">Wydział Fizyki PW</a></li>
                            <li><a href="http://fizyka.pw">Projekt e-fizyka</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="body5">
            <div class="main">
                <footer>
                    <div class="row">
                        <div style="float: left;"><img src="{% static 'textbook/images/footer_efizyka.png' %}" style="width: 100px;"></div>
                        <div style="float: right; text-align: right; background: #fff;">
                            <img src="{% static 'textbook/images/footer_people.png' %}" style="width: 130px;">
                            <img src="{% static 'textbook/images/footer_ue.png' %}" style="width: 130px;">
                        </div>
                        <div style="padding: 0 10px;"><strong>e-Fizyka</strong> – <em>Multimedialne środowisko nauczania fizyki dla szkół ponadgimnazjalnych</em><br>
                            Projekt współfinansowany przez Unię Europejską w ramach Europejskiego Funduszu Społecznego (POKL). Priorytet III Działanie
                            3.3.
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--footer end-->
        <script> Cufon.now(); </script>
    </body>
</html>