{% load staticfiles compress %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 v{{ volume }}c{{ chapter }}" lang="pl"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 v{{ volume }}c{{ chapter }}" lang="pl"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 v{{ volume }}c{{ chapter }}" lang="pl"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js v{{ volume }}c{{ chapter }}" lang="pl"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }} - {{ volume_title }} - Multimedialny podręcznik fizyki</title>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {% block styles %}{% endblock %}
        <link href="{% static 'textbook/bower_components/bootstrapaccessibilityplugin/plugins/css/bootstrap-accessibility_1.0.3.css' %}" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="{% static 'scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
        <!-- endbuild -->
        <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML&locale=pl"></script>
    </head>

    <body>
        <div id="shortcut-link">
            <ul role="menu">
                <li role="menuitem"><a href="#chapters">Spis tomów</a></li>
                <li role="menuitem"><a href="#contents">Spis treści</a></li>
                <li role="menuitem"><a href="#content">Treść rozdziału</a></li>
            </ul>
        </div>
        <header>
            <div class="left" role="banner">
                <a href="/"><img alt="E-fizyka" title="E-fizyka - strona główna" src="{% static 'textbook/images/header_efizyka.png' %}"></a>
            </div>
            <h1>{{ volume_title }}</h1>
            <div class="right" role="banner">
                <a href="http://fizyka.pw.edu.pl"><img alt="PW" title="Wydział Fizyki Politechniki Warszawskiej" src="{% static 'textbook/images/header_fizykapw.png' %}"></a>
            </div>
            <ul class="tomy" role="menu" id="chapters">
                <li role="menuitem"><a href="{% url 'volume' 1 %}" title="Tom 1" data-toggle="tooltip" data-placement="bottom" role="link">Tom I </a></li>
                <li role="menuitem"><a href="{% url 'volume' 2 %}" title="Tom 2" data-toggle="tooltip" data-placement="bottom" role="link">Tom II</a></li>
                <li role="menuitem"><a href="{% url 'volume' 3 %}" title="Tom 3" data-toggle="tooltip" data-placement="bottom" role="link">Tom III</a></li>
                <li role="menuitem"><a href="{%  url 'exercises' %}" title="Zadania" data-toggle="tooltip" data-placement="bottom" role="link">Zadania</a></li>
                <li role="option"><a href="{{ current_path }}?type={{ swap_type }}" class="swap swap-{{ swap_type }}" title="{{ swap_label }}" data-toggle="tooltip" data-placement="bottom" role="link"></a></li>
            </ul>
        </header>
        <div id="before">
            <ol class="breadcrumb">
                <li><a href="{% url 'volume' volume %}">{{ volume_title }}</a></li>
                {% if subchapter %}
                <li><a href="{% url 'chapter' volume chapter %}">{{ chapter_title }}</a></li>
                <li class="active">{{ subchapter_title }}</li>
                {% else %}
                <li class="active">{{ chapter_title }}</li>
                {% endif %}
            </ol>
            <div class="arrows" role="navigation">
                {% if url_prev %}
                <a href="{{ url_prev }}" class="prev" data-toggle="tooltip" data-placement="bottom" title="poprzedni rozdział" role="link">
                    <i class="fa fa-arrow-circle-left fa-2x fa-pull-left" ></i>
                </a>
                {% endif %}
                {% if url_next %}
                <a href="{{ url_next }}" class="next" data-toggle="tooltip" data-placement="bottom" title="następny rozdział" role="link">
                    <i class="fa fa-arrow-circle-right fa-2x fa-pull-right"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {{ content | safe }}
        <div id="after">
            <div class="arrows" role="navigation">
                {% if url_prev %}
                <a href="{{ url_prev }}" class="prev" data-toggle="tooltip" data-placement="top" title="poprzedni rozdział" role="link">
                    <i class="fa fa-arrow-circle-left fa-2x fa-pull-left" ></i>
                </a>
                {% endif %}
                {% if url_next %}
                <a href="{{ url_next }}" class="next" data-toggle="tooltip" data-placement="top" title="następny rozdział" role="link">
                    <i class="fa fa-arrow-circle-right fa-2x fa-pull-right"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <footer role="contentinfo">
            <div class="content">
                <div class="logo">
                    <img alt="Logo e-Fizyka" title="Logo e-Fizyka" src="{% static 'textbook/images/footer_efizyka.png' %}">
                </div>
                <p class="info">
                    <strong>e-Fizyka</strong> – <em>Multimedialne środowisko nauczania fizyki dla szkół ponadgimnazjalnych</em><br>
                    Projekt współfinansowany przez Unię Europejską w ramach Europejskiego Funduszu Społecznego (POKL). Priorytet III Działanie
                    3.3.
                </p>
                <div class="projects">
                    <img alt="Logo Kapitał Ludzki" title="Logo Kapitał Ludzki" src="{% static 'textbook/images/footer_people.png' %}">
                    <img alt="Logo UE" title="Logo UE" src="{% static 'textbook/images/footer_ue.png' %}">
                </div>
            </div>
        </footer>

        <nav id="contents" role="navigation">
            <header role="banner">
                <h1><span class="mainbooktitle">{{ volume_title }}</span></h1>
            </header>
            <ul role="menu">
                {% for chapter in toc %}
                {% if chapter == target %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{% url 'chapter' volume forloop.counter %}" role="link">{{ chapter.title }}</a>
                    {% comment %}{% if chapter in expanded %} {% endcomment %}
                    <ul>
                    {% for subchapter in chapter.children %}
                        {% if subchapter == target %}
                        <li class="active">
                        {% else %}
                        <li role="menuitem">
                        {% endif %}
                            <a href="{% url 'subchapter' volume forloop.parentloop.counter forloop.counter %}" role="link">{{ subchapter.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% comment %}{% endif %}{% endcomment %}
                </li>
                {% endfor %}
            </ul>
        </nav>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            //  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            //  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            //  e.src='//www.google-analytics.com/analytics.js';
            //  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            //  ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        {% compress js %}
        <!-- build:js scripts/common.js -->
        <script src="{% static 'scripts/vendor/jquery-1.9.1.min.js' %}"></script>
        <script src="{% static 'scripts/vendor/holder.js' %}"></script>
        <script src="{% static 'textbook/scripts/jquery.computed-style.js' %}"></script>
        <script src="{% static 'textbook/bower_components/videojs/dist/video-js/video.dev.js' %}"></script>
        <!-- endbuild -->
        {% endcompress %}

        {% compress js %}
        <!-- build:js scripts/vendor/bootstrap.js -->
        <script src="{% static 'scripts/vendor/bootstrap/affix.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/alert.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/dropdown.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/tooltip.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/modal.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/transition.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/button.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/popover.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/carousel.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/scrollspy.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/collapse.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/tab.js' %}"></script>
        <script src="{% static 'scripts/vendor/bootstrap/tooltip.js' %}"></script>
        <script src="{% static 'textbook/bower_components/bootstrapaccessibilityplugin/plugins/js/bootstrap-accessibility_1.0.3.js' %}"></script>
        <!-- endbuild -->
        {% endcompress %}

        {% block scripts %}{% endblock %}
    </body>
</html>