{% extends 'textbook/page.html' %}

{% load staticfiles compress %}

{% block styles %}
    {% if debug %}
        <link rel="stylesheet" href="{% static 'textbook/styles/accessible/main.less' %}" type="text/less"/>
        <script src="{%  static 'scripts/vendor/less-1.7.0.min.js' %}"></script>
    {% else %}
        {% compress css %}
        <link rel="stylesheet" href="{% static 'textbook/styles/accessible/main.less' %}" type="text/less"/>
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {% compress js %}
    <!-- build:js scripts/accessible.js -->
    <script src="{% static 'textbook/scripts/nav.coffee' %}" type="text/coffeescript"></script>
    <script src="{% static 'textbook/scripts/tooltip.coffee' %}" type="text/coffeescript"></script>
    <script src="{% static 'textbook/scripts/video.coffee' %}" type="text/coffeescript"></script>
    <!-- endbuild -->
    {% endcompress %}
{% endblock %}
