{% extends "base.html" %}

{% block title %} {{ app }} - settings {% endblock %}
{% block smalltitle %} {{ app }} - settings {% endblock %}

{% block menu %} <a href="../">Back to app settings</a> {% endblock %}

{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
<button class="submit">Save Settings</button>
</form>

{% endblock %}
