body > #content, body > #before, body > #after {
    &:extend(.container);
}

article {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

@import "section";
@import "../figure";
//@import "note.less";
@import "../equation";
@import "note";

@import "video";