body > footer {
  &:extend(.navbar all);
  //&:extend(.navbar-default all);
  &:extend(.navbar-static-top all);

  bottom: -20px;

  .info {
    &:extend(.navbar-text all);
    &:extend(.navbar-default .navbar-text all);
  }

  .logo {
    &:extend(.navbar-brand all);
    &:extend(.navbar-default .navbar-brand all);

    img {
      height: 60px;
    }
  }

  .projects {
    &:extend(.navbar-brand all);
    &:extend(.navbar-default .navbar-brand all);
    &:extend(.navbar-right);

    img {
      height: 60px;
    }
  }
}