body > header {
  &:extend(.navbar all);
  &:extend(.navbar-inverse all);
  &:extend(.navbar-static-top all);

  & > .left {
    &:extend(.navbar-brand all);
    &:extend(.navbar-inverse .navbar-brand all);
    img {
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    padding: 0;
  }

  & > .right {
    &:extend(.navbar-right);
    img {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  & > .tomy {
    &:extend(.navbar-right);
    &:extend(.navbar-nav all);
    &:extend(.navbar-inverse .navbar-nav all);
    &:extend(.nav all);

    //&:extend(.navbar-right);
    //&:extend(.navbar-inverse .navbar-nav all);
    //.nav;

    > li > a {
      font-weight: bold;

      &.swap {
        .fa;
        line-height: @line-height-computed;
        font-family: "FontAwesome";
      }

      &.swap-accessible:before {
        content: @fa-var-wheelchair;
      }

      &.swap-standard {
        &:extend(.navbar-inverse .navbar-nav > .active > a);
        &:before {
          content: @fa-var-wheelchair;
        }
      }
    }
  }

  & > h1 {
    /*&:extend(.navbar-header);
    color: @gray-lighter;*/
    display: none;
  }
}