.make-icon(@icon) {
   &:before {
     .fa;
     padding-right: 0.5em;
     content: @icon;
     font-family: "FontAwesome";
   }
}

a[href$=".exe"] {
    background-image: url("../../images/icons/labview_64.png");
    background-repeat: no-repeat;
    background-size: 2.2em auto;
    display: block;
    float: left;
    height: 27px;
    margin: -4px 2px 0;
    text-indent: -9999px;
    width: 30px;
}

.make-icon-file(@data) {
  background-image: url(@data);
  background-repeat: no-repeat;
  background-size: 2em auto;
  display: block;
  float: left;
  height: 29px;
  margin: -4px 2px 0;
  position: relative;
  text-indent: -9999px;
  width: 30px;
}

a[href$=".pdf"] {
  .make-icon-file("../../images/icons/file_pdf.png");
}

a[href$=".doc"], a[href$=".docx"] {
  .make-icon-file("../../images/icons/file_doc.png");
}

a[href$=".xls"], a[href$=".xlsx"] {
  .make-icon-file("../../images/icons/file_xls.png");
}


/*.icon-animation {
  .make-icon('film');
}

.icon-biography {
  .make-icon('../images/icons/biography.svg');
}*/

.icon-comment {
  .make-icon(@fa-var-comment);
}

.icon('comment') {
  .icon-comment;
}

.icon-definition {
  .make-icon(@fa-var-search);
}

.icon('definition') {
  .icon-definition;
}

.icon-example {
  .make-icon(@fa-var-flag);
}
/*
.icon-excel {
  .make-icon('../images/icons/excel.svg');
}

.icon-experiment {
  .make-icon('../images/icons/experiment.svg');
}
*/

.icon-extra {
  .make-icon(@fa-var-graduation-cap);
}

.icon('extra') {
  .icon-extra;
}

/*
.icon-graphics {
  .make-icon('../images/icons/graphics.svg');
}
*/

.icon-labview {
  .make-icon(@fa-var-desktop);
}
/*
.icon-movie {
  .make-icon('../images/icons/movie.svg');
}
*/
.icon-question {
  .make-icon(@fa-var-question-circle);
}

.icon-remember {
  .make-icon(@fa-var-thumb-tack);
}

.icon('remember') {
  .icon-remember;
}

/*
.icon-silf {
  .make-icon('../images/icons/silf.svg');
}
*/