body {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}
nav {
    background: none repeat scroll 0 0 @brand-primary;
    height: 100%;
    top: 0;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.4s ease 0s;
    width: 250px;
    z-index: 1000;
    color: #fff;

    header {
      padding: 10px;
    }

    ul {
      .nav;
      .nav-pills;
      .nav-stacked;

      a {
        border-radius: 0 !important;
        font-size: 90%;

        color: #fff;
        &:hover, &:focus, &:active {
          color: @link-color;
        }
      }


      ul {
        li > a {
          padding-left: 2em;
          text-indent: -1em;

          &:before {
            content: "\2771\00A0";
          }
        }
      }
    }
}

#page-content-wrapper {
    width: 100%;
}
.sidebar-nav {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}
.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}
.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
}
.content-header {
    height: 65px;
    line-height: 65px;
}
.content-header h1 {
    display: inline-block;
    line-height: 65px;
    margin: 0 0 0 20px;
}
#menu-toggle {
    display: none;
}
.inset {
    padding: 20px;
}

@media (max-width: @screen-xs-max) {
  body {
      padding-left: 0;
  }

  nav {
      left: 0;
  }
  body.active {
      left: 250px;
      position: relative;
  }
  body.active nav {
      left: 250px;
      transition: all 0.4s ease 0s;
      width: 250px;
  }
  #menu-toggle {
      display: inline-block;
  }
  .inset {
      padding: 15px;
  }
}


.arrows {
    margin: 0;
    padding: 1em;
    .make-row();
    a.prev {
        .pull-left;
    }
    a.next {
        .pull-right;
    }
}