.make-note(@icon, @color) {
  .panel;
  .panel-body;
  .icon(@icon);

  &:before {
    color: @color;
  }

  border-color: @color;
  border-width: thick;
  border-radius: 0;
}

aside.tip {
  .make-note('comment', @gray-dark);
  border-style: dotted;
}

aside.definition, aside.important {
  .make-note('definition', @brand-danger);
}

aside.remember {
  .make-note('remember', @brand-danger);
}

.expert {
  .make-note('extra', @brand-warning);
  border-style: dotted;
}