@import "../section";

section {
  background-color: transparent !important;
  border-radius: 0 !important;
  border-width: thick !important;

  &.questions {
    border-color: @gray-dark;
    & > h1 {
      color: @gray-dark;
    }
  }

  &.example {
    border-color: @brand-info;
    & > h1 {
      color: @brand-info;
    }
  }
}