@import "icons";
@import "content";
@import "nav";
@import "header";
@import "footer";

.hide {
    height: 1px;
    width: 1px;
    position: absolute;
    left: -10000em;
    top: 0;
}

#shortcut-link {
  .hide;
}

// Readable 3.0.0
// Bootswatch
// -----------------------------------------------------

@import url("http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin-ext,latin");
@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");


.btn-shadow(@color) {
	#gradient > .vertical-three-colors(lighten(@color, 10%), @color, 6%, darken(@color, 4%));
	border: 1px solid darken(@color, 10%);
}

// Navbar =====================================================================

.navbar {
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.2));

	&-nav > li > a {
		padding-top: @navbar-padding-vertical + 6px;
	}

	&-brand {
		padding-top: @navbar-padding-vertical + 5px;
	}
}

// Buttons ====================================================================

.btn-default,
.btn-default:hover {
	.btn-shadow(@btn-default-bg);
}

.btn-primary,
.btn-primary:hover {
	.btn-shadow(@btn-primary-bg);
}

.btn-success,
.btn-success:hover {
	.btn-shadow(@btn-success-bg);
}

.btn-info,
.btn-info:hover {
	.btn-shadow(@btn-info-bg);
}

.btn-warning,
.btn-warning:hover {
	.btn-shadow(@btn-warning-bg);
}

.btn-danger,
.btn-danger:hover {
	.btn-shadow(@btn-danger-bg);
}

// Typography =================================================================

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
    font-family: @font-family-base;
}

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

.pagination {

	.active > a,
	.active > a:hover {
		border-color: #ddd;
	}
}

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================