@import "../../bower_components/videojs/dist/video-js/video-js";

@vjs-font-path: '../../fonts/videojs';
@font-face{
  font-family: 'VideoJS';
  src: url('@{vjs-font-path}/vjs.eot');
  src: url('@{vjs-font-path}/vjs.eot?#iefix') format('embedded-opentype'),
  url('@{vjs-font-path}/vjs.woff') format('woff'),
  url('@{vjs-font-path}/vjs.ttf') format('truetype'),
  url('@{vjs-font-path}/vjs.svg#icomoon') format('svg');

  font-weight: normal;
  font-style: normal;
}